# See https://eslint.org/docs/user-guide/configuring/ignoring-code for more about ignoring files.

# yarnpkg dependencies
.yarn/*
.pnp.*

# npm dependencies
node_modules

# testing
coverage

# production
build
