{
    "root": true,
    "parser": "@babel/eslint-parser",
    // https://github.com/hhru/eslint-config-hh
    "extends": ["@hh.ru/eslint-config", "prettier", "plugin:react/recommended"],
    "plugins": ["prettier", "react"],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ],
        "react/prop-types": "off",
        "import/extensions": "off",
        "import/no-unresolved": "off",
        "no-restricted-imports": "off",
        "no-console": "off"
    },
    "parserOptions": {
        "babelOptions": {
            "presets": ["@babel/preset-react"]
        },
        "ecmaVersion": 12,
        "requireConfigFile": false
    }
}
