{
    "root": true,
    "parser": "babel-eslint",
    // https://github.com/hhru/eslint-config-hh
    "extends": ["@hh.ru/eslint-config", "prettier", "plugin:react/recommended"],
    "plugins": ["prettier", "react"],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                // TODO: протестировать правило
                "endOfLine": "auto"
            }
        ],
        "react/prop-types": "off",
        "import/extensions": "off",
        "import/no-unresolved": "off",
        "no-restricted-imports": "off",
        "no-console": "off"
    },
    "parserOptions": {
        "ecmaVersion": 12
    }
}
